.all{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #312c2c;
    
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 254, 255);
    max-width: 550px;
    padding: 40px 5px 40px 5px;
    border: 2px solid #000000;
   
}
.container h1{
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
}

.img {
    width: 300px;
    border-radius: 15px;
   
}
.name {
  text-align: center;
}
.textdescription {
    position: flex;
    text-align: center;
}

.genres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plataformas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bHome{
    font-size: 30px;
    color: #e712e3;
    display: flex;
    justify-content: center;
  
}

.bhome{
    color: white;
    background-color: #e712e3;
    border: 2px solid transparent;
    border-radius: 5px;
    
}


.maps{
    font-size: 30px;
    color: #e712e3
}

.released {
    color :#e712e3;
    
}
.rat{
    justify-content: end;
    color :#e712e3;
}
@media (min-with:767px)  {
   
}
