.all{
background-color:#8b157d94;
}
.conteiner {
    width: 100%;
    height: 60px;
    
}
.bcreate {
   display: flex;
    width: 200px;
    font-size: 20px;
   color: white;
   background-color: blueviolet;
   
}


.createcb{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:5px;
padding: 5px 0px 0px 0px;
}

.titulo{
    text-align: center;
}
