.all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://media.istockphoto.com/id/1389537015/video/computer-graphics-in-the-style-of-the-80s.jpg?s=640x640&k=20&c=mRcAO-KVlpnVYd6pE33VLmNaeRTmhedFb1pD-rQEYqs=');
  background-size: cover;
  height: 100vh;
  background-color: #312c2c;
  background-color: black;
 
}
.imgC {
  display: flex;
  width: 600px;
  height: 80vh;
  margin: 20px;
  background-image: url('gamezone.png');/* Añade esto para centrar el contenido horizontalmente */
  background-size: cover;
  border: 3px #e712e3 solid;
  box-shadow: 10px 10px 15px 0px #e712e3;
}
.imgC:hover {
  box-shadow: 0px 0px 15px 20px #ff01fb;
}



  
